{% extends "admin/app_index.html" %}
{% block title %}{{ title_page }}{% endblock %}

{% block content %}
    {% if not message %}
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{{ button }}" />
        </form>
    {% else %}
        <h2>{{ message.msg }}</h2>
        {% if message.errors %}
            <p>The following are duplicated:</p>
            <ul>
              {% for error in message.errors %}
              <li>Duplicated: {{ error.concept }}({{ error.date }}) - {{ error.amount }}</li>
              {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
